version: "3.9"

services:
  mysql:
    image: mysql:8.4
    container_name: pos-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    env_file:
     - .env

    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  pos-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pos-app
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8081:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/posdb
      SPRING_DATASOURCE_USERNAME: posuser
      SPRING_DATASOURCE_PASSWORD: pospass
    volumes:
      - ./src/main/resources/application-prod.properties:/app/config/application-prod.properties
    networks:
      - pos-network

volumes:
  mysql_data:

networks:
  pos-network:
    driver: bridge
